/* Reset some default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Container section */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Body section */
body {
    font-family: "Lato", sans-serif;
    background: linear-gradient(to bottom, #ADD8E6, #ffffff);
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

/* Header section */
header {
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header h1{
    font-family: "Namdhinggo", sans-serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

header h1 a {
    text-decoration: none;
    color: #000000;
}

header h1 a:hover {
    color: #007bff;
}

h2 {
    color: #000000;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

/* Nav section */
nav {
    text-align: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 1rem;
}

nav a {
    color: #000000;
    text-decoration: none;
}

/* Nav links section */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #007bff;
}

/* Mobile menu icon styles */
.mobile-menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.mobile-menu-icon span {
    background: #000;
    height: 3px;
    margin: 5px 0;
    width: 25px;
}

/* Mobile navigation styles */
.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%; 
    height: 100%;
    background: linear-gradient(to bottom, #ADD8E6, #ffffff); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 1000; 
}

.mobile-nav.show {
    transform: translateX(0);
    display: flex; 
    flex-direction: column; 
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0px; 
}

.mobile-nav ul li {
    margin: 0;
    width: 100%;
}

.mobile-nav ul li a {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    border-bottom: 1px solid #ddd;
}

/* Close button styles */
.mobile-nav-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background: #ADD8E6; 
    border-bottom: 1px solid #ddd
}

.close-btn {
    font-size: 2rem;
    cursor: pointer;
    color: #000;
}

.close-btn:hover {
    color: #007bff;
}

/* Main content sections */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    flex: 1;
    margin: 0;
}

/* Page section */
.page {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Page active section */
.page.active {
    display: flex;
    animation: slideIn 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
}

/* Contact section */
.contact-content {
    text-align: left;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Show mobile menu icon on small screens */
@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .mobile-menu-icon {
        display: flex;
    }
}